/node_modules
/live_backup
/public/hot
/public/storage
/public/uploads
/public/assets/images
/public/assets/images_old
/storage/*.key
/storage/framework/cache
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/public/robots.txt
robots.txt
