/node_modules
/live_backup
/public/temp_images
/public/tempfolderpath
/public/storage
/public/js
/public/css
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
/public/robots.txt
robots.txt
