
/** Playfair **/
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.eot');
    src: url('../fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.eot');
    src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-ExtraBold.eot');
    src: url('../fonts/PlayfairDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-ExtraBold.svg#PlayfairDisplay-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.eot');
    src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-SemiBold.eot');
    src: url('../fonts/PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff'),
        url('../fonts/PlayfairDisplay-SemiBold.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-SemiBold.svg#PlayfairDisplay-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Medium.eot');
    src: url('../fonts/PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Medium.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Medium.ttf') format('truetype'),
        url('../fonts/PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/** Lato **/

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/** GLobal Css **/
body{
	font-size: 13px;
	font-family: 'Lato';
	color: #626262;
	line-height: 1.5;
    padding: 0;
    margin: 0;
}
img{
	max-width: 100%
}

*, *:after, *:before{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-transition: all ease-in-out 0.34s;
	-moz-transition: all ease-in-out 0.34s;
	transition: all ease-in-out 0.34s;
}

h1, h2, h3, h4, h5, h6, .heading-h-one, .heading-h-two, .heading-h-three, .heading-h-four{
	font-family: 'Playfair Display';	
    margin: 0 0 15px;
    font-weight: 400;
}

h1, .heading-h-one{
    font-size: 50px;
    line-height: 1.2;
    color: #2b2b2b;
    font-weight: 400;
}

h2, .heading-h-two{
    font-size: 40px;
    line-height: 1.2;
    color: #2b2b2b;
}

h3, .heading-h-three{
    font-size: 30px;
    line-height: 1.2;
    color: #2b2b2b;
}

button, input, textarea, select{
    font-family: "Lato";
}

ul{
    padding: 0;
    margin: 0;
}
button:focus, input:focus{
    box-shadow: none;
    outline: none;
}

a.btn-bg-large, .btn-bg-small{
    color: #fff;
}
.btn-bg-large{
    background-color: #8e2e65;
    color: #ffffff;
    font-size: 16px;
    padding: 18px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}
.btn-bg-large:hover {
    box-shadow: 7px 7px 0px rgba(0,0,0, 0.8);
}

.btn-bg-small{
    background-color: #8e2e65;
    color: #ffffff;
    font-size: 12px;
    padding:14px 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;    
    font-weight: 700;
}

.btn-bg-small:hover {
    box-shadow: 7px 7px 0px rgba(0,0,0, 0.8);
}

.owl-carousel .owl-item img {
    width: auto;
}
.white-text{
    color: #fff;
}
.white-bg-btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #902f66;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "Lato";
    padding: 10px 15px;
    cursor: pointer;
}
.white-bg-btn:hover{
    box-shadow: 7px 7px 0px rgba(0,0,0, 0.8);
}

textarea:focus{
    outline: none;
}

/** Customized container size **/
.container{
    width: 100%;
    max-width: 1460px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/** FLex Property **/
.flexed{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.justify-between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.items-center{
    -webkit-align-items: center;
    align-items: center;
}
.flex-wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

/** header css start here **/

/** top bar css start **/
.top-bar{
    background: #8e2e65;
    text-align: center;
    color: #fff;
}
.top-bar p{
    margin: 0;
    line-height: 30px;
}
/** top bar css end **/

/** middle top bar css start **/

.middle-topbar-left > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 0 0;
}
.middle-topbar-left li a{
    color: #878787;
    text-decoration: none;
}

.middle-topbar-left li a:hover{
    color: #8E2E65;
}

.middle-topbar-left li a i {
    color: #000;
    font-size: 18px;
    padding: 0 11px 0 0;
    position: relative;
    top: 1px;
}
.middle-topbar {
    border-bottom: 1px solid #EFEFEF;
    padding: 21px 0;
}

.middle-topbar-right li {
    display:inline-block;
    vertical-align: middle;
    margin: 0 0 0 30px;
}
.middle-topbar-right li a{
    color: #878787;
    text-decoration: none;
}
.middle-topbar-right li a:hover{
    color: #8E2E65;
}

.middle-topbar-right li a i {
    color: #000;
    font-size: 18px;
    padding: 0 11px 0 0;
    position: relative;
    top: 1px;
}

/** middle top bar css end **/

/** logo and menus css start **/

.logo-menu-bar {
    padding: 11px 0;
    background: #fff;
    width: 100%;
}
.sticky-header .logo-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.logo-menu-bar-wrap {
    align-items: center;
}
.main-navigaiton .nav-navbars .level-zero {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.main-navigaiton .nav-navbars .level-zero a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}
.main-navigaiton .nav-navbars .level-zero > a{
    padding: 15px 7px;
}

.nav-navbars .level-zero.submenu .inner-submenu {
    display: none;
}

.main-navigaiton .nav-navbars .level-zero .inner-submenu {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 100%;
    width: 250px;
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu li {
    display: block;
    position: relative;
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu li a {
    padding: 12px 20px;
    display: block;
    position: relative;
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu li a i{
    float: right;
    font-size: 15px;
    position: relative;
}
.main-navigaiton .nav-navbars .level-zero:hover > .inner-submenu {
    display: block;
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu .level-one:hover > .inner-submenu{
    display: block;
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu .level-one .inner-submenu{
    right: 0
}
.main-navigaiton .nav-navbars .level-zero .inner-submenu .level-one .inner-submenu {
    right: -100%;
    top: 0;
}


.head-mini-search .formgroup input {
    height: 40px;
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 0 10px 0 40px;
    width: 100%;
}

.head-mini-search .formgroup input:focus{
    box-shadow: 0 0 9px 1px rgba(0,0,0,.06);    
}


.head-mini-search .formgroup {
    max-width: 165px;
    position: relative;
}
.seach-btn {
    background: none;
    border: none;
    padding: 0;
    width: 20px;
    position: absolute;
    left: 10px;
    top: 9px;
}

textarea.input-control{
    height: 100px;
}


/** logo and menus css end **/


/** header post bar css start **/
.post-bar{
    background: #8e2e65;
    padding: 7px 0;
    color: #fff;
}

.post-bar-wraper p{
    text-transform: uppercase;
}
.post-bar-center img {
    max-width: 225px;
    height: 44px;
}
.post-bar-left, .post-bar-center, .post-bar-right {
    width: 33.33%;
}
.post-bar-center{
    text-align: center;
}

.post-bar-right{
    text-align: right;
}
/** header post bar css end **/



/** Footer Css Start here  **/
.footer-main{
    background: #8e2e65;
    padding: 45px 0 30px;
    color: #fff;
    line-height: 25px;
}

.column-one-fifth {
    flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
    padding: 0 16px;
}
.footer-links-row{
    margin: 0 -16px;
}
.footer-title h4 {
    margin: 0 0 15px 0;
    font-size: 18px;
    font-weight: 600;
    font-family: "Lato";
    line-height: 25px;
}
.footerabout-col p {
    margin: 0;
}

.footer-social {
    margin: 50px 0 0 0;
}
.footer-social a {
    color: #fff;
    font-size: 18px;
    margin: 0 22px 0 0;
}
.footer-social a:hover{
    opacity: 0.7;
}
.footerlinks-col ul li a {
    color: #fff;
    text-decoration: none;
}
.footerlinks-col ul li {
    display: block;
}    

.footer-content-wrap {
    margin: 30px -15px 40px;
}
.fcontent-column {
    width: 100%;
    padding: 0 15px;
}
.icon-payment {
    flex: 0 0 20%;
    max-width: 20%;
    -ms-flex: 0 0 20%;
    text-align: center;
}
.deko-logo-f {
    margin-top: 14px;
}
.disclaimer-content{
    flex: 0 0 38%;
    max-width: 38%;
    -ms-flex: 0 0 38%;
}

.disclaimer-content p {
    margin: 0;
}
.botto-to-top {
    border-top: 1px solid rgba(255,255,255,.1);
    margin: 0;
    text-align: center;
    padding: 23px 0 0;
}
.botto-to-top #scroll-to-top {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}


/** Footer Css end here  **/


/** Home banner  start here**/
.banner-left-col {
    flex: 0 0 46%;
    -ms-flex: 0 0 46%;
    max-width: 46%;
    background: #F7F8FA;
    display: flex;
}
.banner-ryt-col {
    flex: 0 0 54%;
    -ms-flex: 0 0 54%;
    max-width: 54%;
    text-align: center;
    background:#fdfdfd;
}

.main-banner-col {
    width: 100%;
    padding: 0 15px;
}
.main-banner-left-text {
    max-width: 560px;
    margin: auto;
    padding: 20px 20px;
}
.main-banner-left-text p {
    font-size: 20px;
    color: #2b2b2b;
    line-height: 1.9;
    margin: 0 0 15px 0;
}
.main-banner-ryt-img img {
    max-width: 340px;
    margin: auto;
}
.main-banner-ryt-img {
    padding: 16px 20px;
}

/** Home banner  end here**/

/** Shop from best section start **/

.head-para-three{
    text-align: center;
    margin: 0 0 16px 0;
}
.shopfrom-best {
    padding: 63px 0 50px;
}
.product-info {
    text-align: center;
    padding: 0 25px 20px;
}
.product-item-details{
    padding-top: 10px;
}

.product-titles {
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #2b2b2b;
    line-height: 1.2;
}
.product-description {
    color: #2b2b2b;
    font-size: 16px;
    line-height: 1.6;
    margin: 17px 0 24px 0;
}
.owl-theme.st-arrows .owl-nav [class*="owl-"] {
    border: 3px solid rgba(255,255,255,0.5);
    width: 50px;
    height: 50px;
    background: #8e2e65;
    color: #fff;
    text-align: center;
}

.owl-theme.st-arrows .owl-nav [class*="owl-"] span {
    font-size: 37px;
    line-height: 22px;
}

.owl-theme.st-arrows .owl-nav .owl-next, .owl-theme.st-arrows .owl-nav .owl-prev{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.owl-theme.st-arrows .owl-nav .owl-prev {
    left: -60px;
}
.owl-theme.st-arrows .owl-nav .owl-next {
    right: -60px;
 }
.product-item-slider {
    padding: 40px 50px 0;
}
.product-image a {
    overflow: hidden;
    position: relative;
    display: block;
}
.product-info .product-image a img {
    width: auto;
    transition: all ease 0.5s;
}
.product-info .product-image:hover img {
    transform: scale(1.1);
}
/** Shop from best section end **/


/** Why choose Start **/

.head-para-three p{
    font-size: 15px;
    color: #2b2b2b;
    line-height: 1.6;
    margin: 0;
}
.whychoose-marlows {
    background: #fafbfd;
    padding: 70px 0 50px 0;
}

.rating-img {
    text-align: center;
    margin: 0px 0 17px 0;
}
.whychoose-col {
    padding: 0 6px;
    flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    text-align: center;
}

.whychoose-col-inner {
    border: 1px dashed #979797;
    padding: 50px 30px 20px 30px;
}
.whychoose-col-inner:hover .whychoose-col-img {
    transform: translateY(-8px);
}

.whychoose-rows {
    margin: 0 -6px;
}
.whychoose-col-text {
    font-size: 18px;
    font-family: "Playfair Display";
    color: #2b2b2b;
    line-height: 1.2;
    margin: 5px 0 0 0;
}


/** Marlows Diamond Start **/
.marlows-diamond {
    background-image: url(../images/marlowdiamond-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 200px 0;
}
.marlows-diamond-title{
    color: #fff;
}

/** Marlows Diamond End **/

.best-selling-marlows {
    padding: 80px 0 50px 0;
}


.product-titles-small a{
    font-family: Playfair Display;
    color: #444444;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-decoration: none;
}
.product-price {
    color: #444444;
    font-size: 17px;
    margin: 9px 0 20px 0;
}

.explore-btn {
    margin: 26px 0 0 0;
}
.shopfrom-block {
    padding: 60px 0 80px 0;
}
.reviewr-name {
    color: rgb(90, 90, 90);
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}
.reviewr-star {
    margin: 11px 0 12px -5px;
}

.reviewr-star img {
    max-width: 85px;
}

.reviewr-review-text {
    font-size: 15px;
    line-height: 25px;
}
.reviewr-review-text a {
    color: #9a9b9b;
    text-decoration: none;
}
.reviewr-review-text a:hover{
    color: #000;
}
.rating-review-block {
    padding: 30px 60px 0;
}
.rating-review-block .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
    margin: 4px;
    background: #A0A0A0;
}
.rating-review-block .owl-dots .owl-dot.active span {
    background: #505050;
    width: 8px;
    height: 8px;
}

.rating-review-block .owl-theme .owl-nav [class*="owl-"] {
    width: 30px;
    margin: 0;
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

}
.rating-review-block .owl-theme .owl-nav [class*="owl-"]:hover{
    opacity: 1;
}

.rating-review-block .owl-theme .owl-nav span {
    font-size: 0;
}

.rating-review-block .owl-theme .owl-nav .owl-prev {
    background-image: url(../images/prev-ar.png);
    left: -55px;
 }
 .rating-review-block .owl-theme .owl-nav .owl-prev:hover{
    margin-left: -5px;
 }
.rating-review-block .owl-theme .owl-nav .owl-next:hover{
    margin-right: -5px;
 }

 .rating-review-block .owl-theme .owl-nav .owl-next {
    background-image: url(../images/next-ar.png);
    right: -55px;
 }



/** left right img text**/
.leftright-text p {
    font-size: 15px;
    color: #2b2b2b;
    line-height: 1.6;
}
.leftright-imt-col.leftright-text {
    text-align: center;
    padding:0 60px 0 60px;
}

.leftright-imt-col {
    width: 100%;
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;    
}

.leftright-img-text-wraper {
    background: #FBFCFD;
    margin: 0 0 80px 0;
}
.leftright-img img{
    width: 100%;
}
.leftright-heading.heading-h-three {
    font-size: 35px;
}

/** Join our mailing section **/
.joinour-heading {
    color: #fff;
    text-align: center;
    margin: 0 0 15px 0;
}
.joinour-heading p{
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
}

.joinour-mailing{
    background: #8e2e65;
    padding: 50px 0;
}

.joinour-mailing-form .form-col label {
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.3;
    margin: 0 0 4px 0;
}


.input-control {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 10px;
    color: #333;
    font-size: 16px;
    font-family: "Lato"
}

input.input-control {
    height: 38px;
}
.form-col {
    width: 100%;
    padding: 8px 10px;
}
.form-rows{
    margin: 0 -10px;
}
.width-50 {
    flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    max-width: 50%;
}

.joinour-mailing-form {
    max-width: 680px;
    margin: auto;
}
.joinour-mailing-form .action-btn {
    text-align: center;
    margin: 20px 0 0 0;
}


/** share moment section css start here  **/
.share-moment-heading{
    text-align: center;
}
.share-moment {
    padding: 50px 15px 50px 15px;
}
.insta-btn{
    text-align: center;
    margin: 15px 0 0 0;
}

.insta-btn .btn-bg-small {
    text-transform: none;
    font-size: 14px;
    padding: 10px 24px;
    font-weight: normal;
}
.insta-btn .btn-bg-small i {
    padding: 0 7px 0 0;
    font-size: 15px;
}
.instaphoto-info {
    position: relative;
}

.insta-link {
    position: absolute;
    right: 10px;
    bottom: 8px;
    display: none;    
}
.instaphoto-info:hover .insta-link{
    display: block;
}
.instaphoto-img{
    overflow:hidden;
}
.instaphoto-info:hover .instaphoto-img img{
    transform: scale(1.1);
}
.instaphoto-img img{
    transition: all ease 0.6s;
}
.insta-link a{
    color: #fff;
    font-size: 18px;
}
